<h1>Hello, all.  Working hard at FalconStor Inc.</h1> 
<ul>
	<li> Time in one Hour: <%= 1.hour.from_now %> </li>
 	<% 3.times do -%> 
	Ho! <br />
	<% end -%>
	<br />	
	<% 3.downto(1) do |count| -%>
        <%= count %> ...<br />
        <% end -%>
        Lift off!!!

	
<p>Find me in app/views/say/hello.html.erb</p>

