<!DOCTYPE html>
<html>
<head>
  <title>Intent Pizza</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<img src="/images/intent_pizza_logo.jpg">

<%= yield %>

</body>
</html>
